<div>
  <table id="tables">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th>Remove</th>
      <th>Edit</th>
    </tr>
    <tbody>
    <tr *ngFor="let item of items; let i = index">
      <td>{{ item.name }}</td>
      <td>{{ item.money }}</td>
      <td>{{ item.date }}</td>
      <td>
        <button class="button btn-danger" (click)="deleteItem(item)">Remove</button>
      </td>
      <td>
        <button class="button btn-dark" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseForm"
                (click)="isCollapsed = !isCollapsed; editItem(item); clicked = true;" [disabled]="clicked">Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div id="div_under_the_table">
    <button class="button blueButton" (click)="isCollapsed = !isCollapsed; clicked = true;"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseForm" [disabled]="clicked">Add income
    </button>
  </div>

  <div id="collapseForm" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <app-item-editor (incomeCreated)="getIncomeList()" (collapse)="isCollapsed=$event"
                         (enabledButtons)="clicked=$event"></app-item-editor>
      </div>
    </div>
  </div>

  <ng-template appConfirmTemplate>
    <app-confirm-modal></app-confirm-modal>
  </ng-template>

</div>
