<div>
  <table *ngFor="let subCategory of subcategories" id="tables" class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">{{ subCategory.name }}</th>
      <th scope="col"></th>
      <th scope="col">
        <app-item-post-modal-component
          [subcategoryElement]="subCategory"
          (submittedItem)="getAllItemsUnderSubCategories()"></app-item-post-modal-component>
      </th>
      <th scope="col">
        <button class="btn" (click)="deleteSubCategory(subCategory)"><i class="fa fa-trash"></i></button>
      </th>
      <th scope="col">
        <app-sub-category-update-modal-component
          [subcategoryElement]="subCategory"
          (submittedSubcategory)="getSubCategoryList()"></app-sub-category-update-modal-component>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let item of items">
    <tr *ngIf="item.subCategory.name == subCategory.name">
      <td>{{ item.name }}</td>
      <td>{{ item.money }}</td>
      <td>{{ item.date }}</td>
      <td>
        <button class="btn" (click)="deleteItem(item)"><i class="fa fa-trash-alt"></i></button>
      </td>
      <td>update</td>
    </tr>
    </tbody>
  </table>

  <app-sub-category-post-modal-component
    (submittedSubcategory)="getSubCategoryList()"></app-sub-category-post-modal-component>


  <ng-template appConfirmTemplate>
    <app-confirm-modal></app-confirm-modal>
  </ng-template>

</div>
