<div>
  <table id="tables">
    <tr>
      <th>Name</th>
      <th>Remove</th>
      <th>Edit</th>
    </tr>
    <tbody>
    <tr *ngFor="let subCategory of subcategories">
      <td>{{ subCategory.name }}</td>
      <td>
        <button class="btn" (click)="deleteSubCategory(subCategory)"><i class="fa fa-trash"></i></button>
      </td>
      <td>
        <app-sub-category-update-modal-component
          (click)="setSubCategory(subCategory)" (submittedSubcategory)="getSubCategoryList()"></app-sub-category-update-modal-component>
      </td>
    </tr>
    </tbody>
  </table>

  <app-sub-category-post-modal-component
    (submittedSubcategory)="getSubCategoryList()"></app-sub-category-post-modal-component>


  <ng-template appConfirmTemplate>
    <app-confirm-modal></app-confirm-modal>
  </ng-template>

</div>
