<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new income</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Name</label>
    <input type="text">
    <label>Price</label>
    <input type="number">
    <label>Date</label>
    <input type="date">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="addToIncome(item)">Save</button>
  </div>
</ng-template>

<button (click)="open()">Add income</button>
